{% extends 'root_app/base.html' %}

{% load static %}

{% block title %} Dashboard {% endblock %}

{% block header %} Dashboard {% endblock %}


{% block content %}

<div class="content-wrapper">

  {% if perms.authentication_app.view_dashboard %}

    <div class="row">
      <div class="col-sm-12 grid-margin stretch-card">

        {%  csrf_token %}

        <select id="election" class="form-control">
            <option value="">------------------All Elections--------------------</option>

            {% if perms.root_app.add_election and user.user_type != 'superuser' and not perms.root_app.can_assign_commnissioner_role %}
                {% for data in user.electoralcommissioner_set.all %}
                  {% if forloop.counter == 1 %}
                        <option value="{{data.election.id}}" selected>{{data.election.election_name}}</option>
                  {% else %}
                        <option value="{{data.election.id}}">{{data.election.election_name}}</option>
                  {% endif %}
                {% endfor %}
            {% else %}
                {% for data in elections %}
         
                    <option value="{{data.id}}"> {{data.election_name}}</option>
                  
                {% endfor %}
            {% endif %}
        </select>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
              <div>
                <p class="mb-2 text-md-center text-lg-left">Total Elections</p>
                <h1 class="mb-0">{{total_elections}}</h1>
              </div>
              <i class="mdi mdi-poll icon-xl text-secondary"></i>
            </div>
            <canvas id="balance-chart" height="80"></canvas>
          </div>
        </div>
      </div>

      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
              <div>
                <p class="mb-2 text-md-center text-lg-left">Total Electorates</p>
                <h1 class="mb-0">{{electorates_total}}</h1>
              </div>
              <i class="typcn typcn-user icon-xl text-secondary"></i>
            </div>
            <canvas id="expense-chart" height="80"></canvas>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
              <div>
                <p class="mb-2 text-md-center text-lg-left">Total Aspirants</p>
                <h1 class="mb-0" id="t-asp-var">{{total_aspirants}}</h1>
              </div>
              <i class="typcn typcn-chart-pie icon-xl text-secondary"></i>
            </div>
            <canvas id="budget-chart" height="80"></canvas>
          </div>
        </div>
      </div>

    </div>

    {% if perms.authentication_app.view_dashboard_users %}

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="table-responsive pt-3">
            <table class="table table-striped project-orders-table">
              <thead>
                <tr>
                  <th class="ml-5">Username</th>
                  <th>Full name</th>
                  <th>Date added</th>
                  <th>Last login</th>
                  <th>User type</th>
                  <th>Email</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for data in users %}
                <tr>
                  <td>{{data.username}}</td>
                  <td>{{data.full_name}}</td>
                  <td>{{data.date_added}}</td>
                  <td>{{data.last_login}}</td>
                  <td>{{data.user_type}}</td>
                  <td title="{{data.email}}">{{data.email|truncatechars:5}}</td>
                  <td>
                    <div class="d-flex align-items-center">
                      {% if perms.root_app.change_user %}
                      <a href="{% url 'root_app:edit_user' data.id %}" class="btn btn-success btn-sm btn-icon-text mr-3">
                        Edit
                        <i class="typcn typcn-edit btn-icon-append"></i>                          
                      </a>
                      {% endif %}

                      {% if perms.root_app.view_user %}
                      <a href="{% url 'root_app:view_user' data.id %}" class="btn btn-info btn-sm btn-icon-text">
                        View
                        <i class="mdi mdi-eye"></i>                          
                      </a>
                      {% endif %}
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% endif %}
  
  {% else %}
    <div class="row">
      <div class="col-sm-12">
          <div class="card">

            <div class="table-responsive">
              <table class="table">
                  <tr>
                      <td>Current Election: </td>
                      <td> {{current_election.election.election_name}} </td>
                  </tr>
                  <tr>
                      <td>Election Time: </td>
                      <td>{{current_election.election.election_date}} {{current_election.election.election_time}}</td>
                  </tr>
  
                  <tr>
                      <td>Ending Time: </td>
                      <td>{{current_election.election.ending_date}} {{current_election.election.ending_time}}</td>
                  </tr>
              </table>
          </div>

          </div>
      </div>
    </div>
  {% endif %}

  </div>

{% endblock %}


{% block scripts %}
    <script src="{% static 'root_app/scripts/aspirant_total_fil.js' %}"></script>
{% endblock %}