{% extends 'root_app/base.html' %}

{% load static %}

{% block title %} Detailed Report {% endblock %}

{% block header %} Detailed Report {% endblock %}

{% block content %}
    <div class="content-wrapper">

        <div class="card">
            <div class="card-body">
                <form action="{% url 'root_app:detailed_report' %}" id="report-form">
                    {% csrf_token %}
                    <div class="row">
                        <label for="" class="col-sm-2 col-form-label">Username</label>
                        <input type="text" name="username" id="username" class="col-sm-5 form-control" placeholder="Enter the username">
                        <div class="col-sm-5">
                            <button class="btn btn-primary" type="submit"> <i class="mdi mdi-cloud-print"></i> Get Report</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mt-3" id="details-body">
            
        </div>
        
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'root_app/scripts/get_detailed_report.js' %}"></script>
    <script src="{% static 'root_app/printer/jQuery.print.min.js' %}"></script>
{% endblock %}