{% extends 'root_app/base.html' %}

{% load static %}

{% block title %} Edit User {% endblock %}

{% block header %} Edit User {% endblock %}


{% block content %}

<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Edit User</h5>
            <p class="card-description">Edit this user with this form</p>

            <hr class="mb-3">
            <form action="{% url 'root_app:edit_user' user_det.id %}" id="edit-user">

                {% csrf_token %}

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <input type="text" value="{{user_det.username}}" name="username" id="username" placeholder="Username" class="form-control">
                    </div>

                    <div class="col-md-6 mb-3">
                        <input type="email" value="{{user_det.email}}" inputmode="email" name="email" id="email" placeholder="Email" class="form-control">
                    </div>

                    <div class="col-md-6 mb-3">
                        <input type="text" value="{{user_det.first_name}}" name="first_name" id="first_name" placeholder="First name" class="form-control">
                    </div>

                    <div class="col-md-6 mb-3">
                        <input type="text" value="{{user_det.last_name}}" name="last_name" id="last_name" placeholder="Last name" class="form-control">
                    </div>

                    <div class="col-md-6 mb-3">
                        <input type="text" value="{{user_det.other_name}}" name="other_name" id="other_name" placeholder="Other name" class="form-control">
                    </div>

                    <div class="col-md-6 mb-3">
                        <input type="number" value="{{user_det.phone_number}}" inputmode="numeric" name="phone_number" id="phone_number" placeholder="Phone number" class="form-control">
                    </div>

                    <div class="col-md-6 mb-3">
                        <select name="user_type" id="user_type" class="form-control">
                            <option value="">User type</option>
                            {% if user_det.user_type == 'superuser' %}
                                <option value="superuser" selected>SUPERUSER</option>
                                <option value="staff">STAFF</option>
                            {% elif user_det.user_type == 'staff' %}
                                <option value="superuser">SUPERUSER</option>
                                <option value="staff" selected>STAFF</option>
                            {% elif user_det.user_type == 'user' %}
                                <option value="user" selected>USER</option>
                            {% else %}
                                <option value="superuser">SUPERUSER</option>
                                <option value="staff">STAFF</option>
                            {% endif %}
                        </select>
                    </div>

                    <div class="col-md-6 mb-2">
                        <div class="form-check form-check-flat form-check-primary">
                            <label for="status" class="form-check-label">
                                {% if user_det.is_active %}
                                    <input type="checkbox" name="status" id="status" class="form-check-input" checked>
                                {% else %}
                                    <input type="checkbox" name="status" id="status" class="form-check-input" >
                                {% endif %}
                                Active
                            </label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" id="save-button">SAVE CHANGES</button>
                    </div>
                </div>
        
            </form>

        
        </div>

        <div class="card-body">
            <input type="hidden" id="user_id" value="{{user_det.id}}">
            <p class="card-description">Password settings</p> <hr>
            <button class="btn btn-success" id="link-button">Send password reset link</button>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'root_app/scripts/edit_user.js' %}"></script>
    <script src="{% static 'root_app/scripts/password-reset-link.js' %}"></script>
{% endblock %}