{% extends 'root_app/base.html' %}

{% load static %}

{% block title %} {{group.name}} Permissions {% endblock %}

{% block header %} {{group.name}} Permissions {% endblock %}


{% block content %}

<div class="content-wrapper">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{group.name}} Permissions</h4>
            <p class="card-description">Assign permissions to this group</p>


            <div class="row mt-3">
                <div class="col-md-4">
                    <span class="small">Permissions</span>
                    <form action="{% url 'root_app:search_permissions' %}" id="search-form">
                        {% csrf_token %}
                        <input type="text" name="search" id="search-bar" placeholder="Search here..." class="form-control">
                    </form>
                    <select id="permissions" multiple class="form-control" style="height: 200px;">
                        {% for data in permissions %}
                            <option value="{{data.id}}">{{data.name}} | {{data.codename}} </option>
                        {% endfor %}
                    </select>

                    <p class="card-description mt-3">Pres <span class="text-danger">CTRL+ A</span> to select all</p>
                </div>

                <div class="col-md-4 text-center">
                    <div class="mt-3">
                        <button class="btn btn-primary btn-sm mt-3" id="add-permission"><i class="mdi mdi-arrow-right-bold-circle-outline"></i></button>
                    </div>

                    <div>
                        <button class="btn btn-danger btn-sm mt-3" id="remove-permission"><i class="mdi mdi-arrow-left-bold-circle-outline"></i></button>
                    </div>
                </div>
        
                <div class="col-md-4">
                    <span class="small">Group Permissions</span>
                    <form action="{% url 'root_app:group_permissions' group.id %}" id="select-form">
                        {% csrf_token %}
                        <select id="added-permissions" multiple class="form-control" style="height: 235px;">
                            {% for data in group_permissions %}
                                <option value="{{data.id}}">{{data.name}} | {{data.codename}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>

            <hr>
            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-success" type="button" id="save-perm">SAVE</button>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'root_app/scripts/search-permissions.js' %}"></script>
    <script src="{% static 'root_app/scripts/permission-events.js' %}"></script>
{% endblock %}