{% extends 'root_app/base.html' %}

{% load static %}

{% block title %} Programmes {% endblock %}

{% block header %} Programmes {% endblock %}


{% block content %}

<div class="content-wrapper">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Programmes</h4>
            <p class="card-description">
                All programmes
            </p>
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="dataTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Programme</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for data in programmes %}
                        <tr id="pro{{data.id}}">
                            <td>{{forloop.counter}}</td>
                            <td>{{data.programme_name}}</td>
                            <td>
                                <input type="hidden" value="{{data.id}}">
                                {% csrf_token %}

                                {% if perms.root_app.delete_programme %}
                                    <button class="btn btn-rounded btn-icon btn-danger delete-programme"><i class="mdi mdi-delete"></i></button>
                                {% endif %}

                                {% if perms.root_app.change_programme %}
                                    <a href="{% url 'root_app:programme' data.id %}" class="btn btn-rounded btn-primary"><i class="mdi mdi-pencil"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'root_app/scripts/delete-programme.js' %}"></script>
{% endblock %}

